<!DOCTYPE html>
<html lang="en">
    <head>
        <title>i-medify</title>
        
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="" />
        <meta name="keywords" content="" />
        
        <link href="http://fonts.googleapis.com/css?family=Roboto:700,100|Nunito:400" rel="stylesheet" />

        <link href="../components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

        <link href="../styles/typography.css" rel="stylesheet" />
        <link href="../styles/layout.css" rel="stylesheet" />
    </head>
    
    <body>
        <div class="container-fluid">
            <header class="row">
                <div class="col-md-3">
                    <img class="logo" src="/images/logo.jpg" alt="i-medify" />
                </div>

                <nav class="main col-md-7">
                    <ul>
                        <li class="home"><a href="/views/"><span>home</span></a></li>
                        <li class="about-us"><a href="/views/about-us.html"><span>about us</span></a></li>
                        <li class="products"><a href="/views/products.html"><span>products</span></a></li>
                        <li class="objective"><a href="/views/objective.html"><span>objective</span></a></li>
                        <li class="news"><a href="/views/news.html"><span>news</span></a></li>
                        <li class="contact active"><a href="/views/contact.html"><span>contact</span></a></li>
                    </ul>
                </nav>

                <nav class="lang">
                    <ul>
                        <li class="en">En</li>
                        <li class="de"><a rel="alternate" href="/de" hreflang="de" lang="de">De</a></li>
                    </ul>
                </nav>
            </header>

            <div class="content contact">

                <div class="map">
                    <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Ostringstrasse%2010%2C%204702%20Oensingen%2C%20Switzerland&key=AIzaSyA6_jYQ7VZAXRkl9jvV1GjYGyMHZ-5VbJc"></iframe>
                </div>

                <div class="contact">
                    <h1>Contact</h1>

                    <div itemscope itemtype="http://schema.org/ContactPoint"> 
                        <div itemscope itemtype="schema.org/PostalAddress"> 
                            <span itemprop="streetAddress">Ostringstrasse 10</span> 
                            <span itemprop="postalCode">CH-4702</span> 
                            <span itemprop="addressLocality">Oensingen</span> 
                            <span itemprop="addressCountry">Switzerland</span> 
                        </div> 
                        <span itemprop="telephone"><img src="telephone.jpg" alt="" /> <a href="tel:+41 62 396 26 85">+41 62 396 26 85</a></span> 
                        <span itemprop="email"><img src="email.jpg" alt="" /> <a href="mailto:info@i-medify.com">info@i-medify.com</a></span> 
                    </div>
                </div>

                <div class="info">
                    <div class="article">
                        <h2>By car</h2>

                        <p>Oensingen is located at the Autobahn A1 Zürich / Bern between the motorway interchange Härkingen / Egerkingen and Solothurn. Take the exit Oensingen and keep right. Next turn left and follow the white sign "Polizei / Industrie Oensingen Süd + Ost".</p>

                        <p>Turn left into a street called Werkhofstrasse (direction to Polizei/police) and follow this street until it leads into a street called Dünnernstrasse. Immediately turn left into Ostringstrasse.</p>

                        <p>After 150 meters there is a building on the right hand side. Pass this building, turn right and drive down the ramp. Parking lots are located at the entrance to your right.</p>
                    </div>

                    <div class="article">
                        <h2>By train</h2>

                        <p>Leave the station through the pedestrian underpass southward (main station and Jura mountain is north).</p>

                        <p>Turn left and follow the street called Grabenackerstrasse. 250m into this street turn right into the Dünnernstrasse (following the yellow sign “Wanderweg” and white sign “VEBO / EXMA”).</p>

                        <p>50 m on, pass the crossing using the crosswalk and keep walking straight. Follow the Dünnernstrasse for 20m. In between the first house and car wash turn left into the Ostringstrasse. After 150 meters there is a building on the right hand side.  Pass this building, turn right and walk down the ramp to the entrance on your right hand side.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </body>
</html>
