<!DOCTYPE html>
<html lang="en">
    <head>
        <title>i-medify</title>
        
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="" />
        <meta name="keywords" content="" />
        
        <link href="http://fonts.googleapis.com/css?family=Roboto:700,100|Nunito:400" rel="stylesheet" />

        <link rel="stylesheet" href="../styles/app.css"/>
    </head>
    
    <body>
        <div class="container-fluid">
            <header class="row">
                <div class="col-md-3">
                    <img class="logo" src="/images/logo.jpg" alt="i-medify" />
                </div>

                <nav class="main col-md-7">
                    <ul>
                        <li class="home"><a href="/views/"><span>home</span></a></li>
                        <li class="about-us"><a href="/views/about-us.html"><span>about us</span></a></li>
                        <li class="products"><a href="/views/products.html"><span>products</span></a></li>
                        <li class="objective active"><a href="/views/objective.html"><span>objective</span></a></li>
                        <li class="news"><a href="/views/news.html"><span>news</span></a></li>
                        <li class="contact"><a href="/views/contact.html"><span>contact</span></a></li>
                    </ul>
                </nav>

                <nav class="lang">
                    <ul>
                        <li class="en">En</li>
                        <li class="de"><a rel="alternate" href="/de" hreflang="de" lang="de">De</a></li>
                    </ul>
                </nav>
            </header>

            <div class="content page bottom-gallery">

                <h1>Objective</h1>

                <div class="main">
                    <p>We develop software products or implement individual projects on the basis of professional technical requirements.
        On top of that we offer the appropriate professional and technical services. Due to our cooperation with various partners, we are able to mobilize the needed resources in a timely manner and with the required qualifications. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet quam quis ipsum egestas euismod. Phasellus gravida ultrices sapien quis tempor. Vivamus pulvinar faucibus lectus, nec placerat nisi ultricies at. Donec ac odio nec lorem tincidunt facilisis in vitae lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet quam quis ipsum egestas euismod. Phasellus gravida ultrices sapien quis tempor. Vivamus pulvinar faucibus lectus, nec placerat nisi ultricies at. Donec ac odio nec lorem tincidunt facilisis in vitae lorem.</p>
                </div>

                <div class="gallery">
                    <h2>Target groups</h2>

                    <figure>
                        <img src="/images/gallery/f1.jpg" alt="Blister Centers" />
                        <figcaption>Blister Centers</figcaption>
                    </figure>

                    <figure>
                        <img src="/images/gallery/f2.jpg" alt="Manufacturer of production machines" />
                        <figcaption>Manufacturer of production machines</figcaption>
                    </figure>

                    <figure>
                        <img src="/images/gallery/f3.jpg" alt="Nursing Homes" />
                        <figcaption>Nursing Homes</figcaption>
                    </figure>

                    <figure>
                        <img src="/images/gallery/f4.jpg" alt="Hospitals" />
                        <figcaption>Hospitals</figcaption>
                    </figure>

                    <figure>
                        <img src="/images/gallery/f5.jpg" alt="Pharmacies" />
                        <figcaption>Pharmacies</figcaption>
                    </figure>
                </div>
            </div>

        </div>
    </body>
</html>
