<!DOCTYPE html>
<html lang="en">
    <head>
        <title>i-medify</title>
        
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="" />
        <meta name="keywords" content="" />
        
        <link href="http://fonts.googleapis.com/css?family=Roboto:700,100|Nunito:400" rel="stylesheet" />

        <!-- build:css ../styles/app.css -->
        <link href="../components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

        <link href="../styles/typography.css" rel="stylesheet" />
        <link href="../styles/layout.css" rel="stylesheet" />
        <!-- endbuild -->
    </head>
    
    <body>
        <div class="container-fluid">
            <header class="row">
                <div class="col-md-3">
                    <img class="logo" src="/images/logo.jpg" alt="i-medify" />
                </div>

                <nav class="main col-md-7">
                    <ul>
                        <li class="home"><a href="/views/"><span>home</span></a></li>
                        <li class="about-us"><a href="/views/about-us.html"><span>about us</span></a></li>
                        <li class="products active"><a href="/views/products.html"><span>products</span></a></li>
                        <li class="objective"><a href="/views/objective.html"><span>objective</span></a></li>
                        <li class="news"><a href="/views/news.html"><span>news</span></a></li>
                        <li class="contact"><a href="/views/contact.html"><span>contact</span></a></li>
                    </ul>
                </nav>

                <nav class="lang">
                    <ul>
                        <li class="en">En</li>
                        <li class="de"><a rel="alternate" href="/de" hreflang="de" lang="de">De</a></li>
                    </ul>
                </nav>
            </header>

        <div class="content page right-side-grid">
            <nav class="secondary">
                <ul>
                    <li><a href="/views/products-description.html"><span>description</span></a></li>
                    <li class="active"><a href="/views/products.html"><span>overview</span></a></li>
                    <li><a href="/views/products-integration.html"><span>integration</span></a></li>
                </ul>
            </nav>

            <h1>Overview</h1>

            <div class="main">                
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet quam quis ipsum egestas euismod. Phasellus gravida ultrices sapien quis tempor. Vivamus pulvinar faucibus lectus, nec placerat nisi ultricies at. Donec ac odio nec lorem tincidunt facilisis in vitae lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet quam quis ipsum egestas euismod. Phasellus gravida ultrices sapien quis tempor. Vivamus pulvinar faucibus lectus, nec placerat nisi ultricies at. Donec ac odio nec lorem tincidunt facilisis in vitae lorem.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet quam quis ipsum egestas euismod. Phasellus gravida ultrices sapien quis tempor. Vivamus pulvinar faucibus lectus, nec placerat nisi ultricies at. Donec ac odio nec lorem tincidunt facilisis in vitae lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                <p>Suspendisse sit amet quam quis ipsum egestas euismod. Phasellus gravida ultrices sapien quis tempor. Vivamus pulvinar faucibus lectus, nec placerat nisi ultricies at. Donec ac odio nec lorem tincidunt facilisis in vitae lorem.</p>
            </div>

            <div class="grid">
                <table>
                    <thead>
                        <tr>
                            <th>Module</th>
                            <th>Mediproc core</th>
                            <th>Mediproc add on</th>
                            <th>Version</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Administration</td>
                            <td><span class="yes"><span>yes</span></span></td>
                            <td><span class="no"><span>no</span></span></td>
                            <td>1.0</td>
                        </tr>

                        <tr>
                            <td>Article (incl. Import)</td>
                            <td><span class="yes"><span>yes</span></span></td>
                            <td><span class="no"><span>no</span></span></td>
                            <td>1.0</td>
                        </tr>

                        <tr>
                            <td>Master Data</td>
                            <td><span class="yes"><span>yes</span></span></td>
                            <td><span class="no"><span>no</span></span></td>
                            <td>1.0</td>
                        </tr>

                        <tr>
                            <td>Theraphy</td>
                            <td><span class="yes"><span>yes</span></span></td>
                            <td><span class="no"><span>no</span></span></td>
                            <td>1.0</td>
                        </tr>

                        <tr>
                            <td>Order</td>
                            <td><span class="yes"><span>yes</span></span></td>
                            <td><span class="no"><span>no</span></span></td>
                            <td>1.0</td>
                        </tr>

                        <tr>
                            <td>Billing</td>
                            <td><span class="no"><span>no</span></span></td>
                            <td><span class="yes"><span>yes</span></span></td>
                            <td>1.0</td>
                        </tr>

                        <tr>
                            <td>Health Insurance Accounting</td>
                            <td><span class="no"><span>no</span></span></td>
                            <td><span class="yes"><span>yes</span></span></td>
                            <td>1.1</td>
                        </tr>

                        <tr>
                            <td>Reporting</td>
                            <td><span class="no"><span>no</span></span></td>
                            <td><span class="yes"><span>yes</span></span></td>
                            <td>1.2x</td>
                        </tr>

                        <tr>
                            <td>Data Warehouse</td>
                            <td><span class="no"><span>no</span></span></td>
                            <td><span class="yes"><span>yes</span></span></td>
                            <td>1.2x</td>
                        </tr>

                        <tr>
                            <td>3rd Party Integration</td>
                            <td><span class="no"><span>no</span></span></td>
                            <td><span class="yes"><span>yes</span></span></td>
                            <td>1.2x</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </body>
</html>
