body {
  background-color: #FFFFFF;
}

  body.home {
    background-color: #D6D6D5;
  }

header {
  background-color: #FFFFFF;
  padding-left: 55px;
}

  header.row {
    margin: 0;
  }

  header .logo {
    display: block;
    margin-top: 26px;
  }

  header nav.main {
    overflow: hidden;
  }

    header nav.main ul {
      list-style-type: none;
      margin: 0 0 0 21px;
    }

      header nav.main li {
        display: block;
        float: left;
        margin-right: 21px;
        padding-top: 21px;
        padding-bottom: 11px;
      }

        header nav.main li a {
          display: block;
          position: relative;
          width: 80px;
          height: 49px;
          text-align: center;
          text-decoration: none;
          color: #AAAAAA;
          background-repeat: no-repeat;
          background-position: top center;
        }

          header nav.main li a span {
            display: block;
            position: absolute;
            bottom: 0;
            width: 100%;
          }

        header nav.main li.active {
          background-color: #80C2FF;
        }

          header nav.main li.active a {
            color: #FFFFFF;
          }

        header nav.main li.home a {
          background-image: url('../images/nav.main.home.jpg');
        }

        header nav.main li.home.active a {
          background-image: url('../images/nav.main.home.active.jpg');
        }

        header nav.main li.about-us a {
          background-image: url('../images/nav.main.about-us.jpg');
        }

        header nav.main li.about-us.active a {
          background-image: url('../images/nav.main.about-us.active.jpg');
        }

        header nav.main li.products a {
          background-image: url('../images/nav.main.products.jpg');
        }

        header nav.main li.products.active a {
          background-image: url('../images/nav.main.products.active.jpg');
        }

        header nav.main li.objective a {
          background-image: url('../images/nav.main.objective.jpg');
        }

        header nav.main li.objective.active a {
          background-image: url('../images/nav.main.objective.active.jpg');
        }

        header nav.main li.news a {
          background-image: url('../images/nav.main.news.jpg');
        }

        header nav.main li.news.active a {
          background-image: url('../images/nav.main.news.active.jpg');
        }

        header nav.main li.contact a {
          background-image: url('../images/nav.main.contact.jpg');
        }

        header nav.main li.contact.active a {
          background-image: url('../images/nav.main.contact.active.jpg');
        }

  header nav.lang {
    position: absolute;
    top: 0;
    right: 0;
  }

    header nav.lang ul {
      display: block;
      list-style-type: none;
      margin: 0;
    }

      header nav.lang ul li {
        display: block;
        width: 42px;

        text-align: center;
        background-color: #80C2FF;
        color: #FFFFFF;
      }

        header nav.lang ul li.en {
          border-bottom: 1px solid #D8E4F0;
          height: 40px;
        }

        header nav.lang ul li.de,
        header nav.lang ul li.de a {
          height: 41px;
        }

        header nav.lang ul li a {
          display: block;
          background-color: #ECECEC;
          text-decoration: none;
          color: #AAAAAA;
        }

.content {
  position: relative;
  overflow: hidden;
  background: url('../images/content.background.jpg') repeat-x 0 0;
}

  .content .main {
    overflow: hidden;
    margin-left: 54px;
    margin-right: 360px;
  }

  .content h1 {
    color: #0084ff;
    margin: 44px 0 44px 54px;
  }

  .content h2 {
    margin: 44px 0 18px 0;
    color: #444444;
  }

  .content p {
    color: #464646;
    margin-bottom: 21px;
  }

  .content ul {
    list-style-type: circle;
  }

  .content .lists ul {
    width: 44%;
    display: block;
    float: left;
    margin-right: 50px;
  }

  .content .btn {
    height: 50px;
    text-align: left;
    text-decoration: none;
    padding: 0 21px;
    border: 0 solid red;
    border-radius: 0;
  }

    .content .btn.red {
      color: #FFFFFF;
      background-color: #D41E56;
    }

    .content .btn.arrow.red span {
      display: block;
      background-image: url('../images/btn.arrow.red.jpg');
      background-repeat: no-repeat;
      background-position: right center;
      padding-right: 27px;
    }

  .content.home {
    background: url('../images/content.background.home.jpg') repeat-x 0 0;
  }

  .content.home .main {
    position: absolute;
    left: 548px;
    top: 61px;
    margin-left: 0;
    margin-right: 0;
  }

  .content.home h1 {
    margin: 20px 0 36px 0;
  }

    .content.home h1 span {
      display: inline-block;
      color: #0084ff;
      background-color: #FFFFFF;
      padding: 10px 20px 19px 20px;
      margin-bottom: 3px;
    }

  .content.home p {
    width: 500px;
  }

  .content .testimonials blockquote {
    display: inline-block;
    width: 455px;
    padding: 17px 20px 17px 26px;
    margin: 0 0 20px 0;
    border-left: 0 solid red;
  }

    .content .testimonials blockquote p {
      margin-bottom: 25px;
    }

    .content .testimonials blockquote p:before {
      content: open-quote;
      color: #D41E56;
      font-size: 30px;
      line-height: 18px;
      margin-right: 10px;
      vertical-align: -5px;
    }

    .content .testimonials blockquote p:after {
      content: close-quote;
      color: #D41E56;
      font-size: 30px;
      line-height: 4px;
      margin-left: 10px;
      vertical-align: -18px;
    }

    .content .testimonials blockquote .cite {
      display: block;
    }

    .content.right-side-gallery {
      overflow: hidden;
    }

      .content.right-side-gallery .main {
        float: left;
      }

      .content.right-side-gallery .gallery {
        width: 276px;
        border-left: 1px solid #E8EAED;
        float: right;
        margin-left: -276px;
      }

      .content.right-side-gallery .gallery img {
        display: block;
      }

  .content nav.secondary {
    background: url('../images/content.background.nav.jpg') repeat-x 0 0 #ECECEC;
  }

    .content nav.secondary ul {
      display: block;
      margin: 0 auto;
      list-style-type: none;
      text-align: center;
      height: 38px;
    }

      .content nav.secondary ul li {
        display: inline-block;
        height: 38px;
        margin: 0 15px 0 15px;
      }

        .content nav.secondary ul li.active {
          border-bottom: 3px solid #80C2FF;
        }

      .content nav.secondary ul li a {
        text-decoration: none;
        color: #a1a1a1;
        display: block;
      }

        .content nav.secondary ul li.active a {
          color: #444444;
        }

  .content.right-side-graph .main {
    margin-right: 600px;
    float: left;
  }

    .content.right-side-graph .graph {
      margin-left: -600px;
      float: right;
      padding-right: 30px;
    }