/*
  font-family: 'Roboto', sans-serif;
  font-family: 'Nunito', sans-serif;
*/

body {
  font-size: 14px;
  line-height: 18px;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

header {
  font-size: 12px;
  line-height: 12px;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

header nav.lang li {
  line-height: 40px;
}

.content h1 {
  font-size: 60px;
  line-height: 60px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.content h2 {
  font-size: 20px;
  line-height: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.content p {
  font-size: 14px;
  line-height: 22px;
  font-family: Arial, sans-serif;
}

.home .content p {
  font-size: 22px;
  line-height: 26px;
  font-family: Arial, sans-serif;
}

.content .btn {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 50px;
}

.content .testimonials blockquote p {
  font-size: 14px;
  line-height: 18px;
  font-family: Arial, sans-serif;
  font-style: italic;
}

.content nav.secondary ul li a {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 35px;
}